/* Code CSS type: 

sélecteur {
  propriété-1: valeur-1;
  propriété-2: valeur-2;
  propriété-n: valeur-n;
}
*/




p > a {
	color: green;
}

h1 + p{
	background-color: red;
}

a[title="moteur"]{
	color: purple;
}

li li{
	color: purple;
}

p p {
	color: red;
}

*{
	font-weight: bold;
}