/* Code CSS type:

sélecteur {
  propriété-1: valeur-1;
  propriété-2: valeur-2;
  propriété-n: valeur-n;
}
*/



nav{
	float: left;
	width: 150px;
	border:2px solid black;
}

section{
	margin-left: 160px;
	border: 2px solid black;
}

aside{
	float: right;
	width: 150px;
}
/*
nav{
	position: absolute;
	top: 0px;
	left: 0px;
}
*/
thead{
	background-color: blue;
	
}