/* Code CSS type:

sélecteur {
  propriété-1: valeur-1;
  propriété-2: valeur-2;
  propriété-n: valeur-n;
}
*/

body{
	background-image: url("../images/sunset.jpg");
}

h1{
	text-align: center;
	color: white;
	font-weight: bolder;
}

h2{
	color: white;
	text-decoration: underline;

}

h3 {
	font-style: italic;
	color: yellow;
	margin-left: 55px;
	font-size: 30px;
}

p{
	font-family : arial, verdana, serif;
	color: white;
	font-size: 1.5em;

}

ul{
	font-family: "URW Chancery L";
	font-size: 30px;
	font-weight: bold;
	color: white;
	margin-left: 105px;

}

p > a {
	color: white;
	font-family: serif;
	font-family: "Arial black";
}

#sommaire{
	margin: 20px;
	color: white;

}

#princ{
	border: 5px dashed white ;
}

figure{
	border-left: 45px;
}

header{
	text-align: center;
	color: white;
}

footer{
	text-align: right;
	font-style: italic;
}



/*

h3 + ul{
	background-color: red;
}
*/
 /*

 em{
 	font-style: normal;
 }
*/

 /*

 strong{
 	font-weight:normal;
 }
*/
